/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}
/* Fonts */

body {
    font-family: "Merriweather", serif;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

h1, h2 {
    font-family: "Roboto Slab", serif;
    letter-spacing: 0.5px;
}

/* General text styling */

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 0;
}

section h2 + p {
    text-indent: 2rem;
}
/* Link styling */

a {
    text-decoration: underline;
    outline-color: transparent;
}

a:link {
    color: #aa6666;
}

a:visited {
    color: #885050;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #6e4040;
}

a[href^="http"]::after {
    content: " ↗";
    font-size: 0.8em;
}
/* List styling */

ul, ol {
    line-height: 1.5;
    margin: 1em 0;
}

main > section ul,
main > section ol {
    list-style-type: square;
}

aside ul {
    list-style-image: none;
    list-style-type: "→ ";
}
/* Navigation menu styling */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    width: 100%;
    padding: 0.75em 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    background-color: #f0e0e0;
    color: #6e4040;
    border-bottom: 1px solid #fff;
}

nav a:hover,
nav a:focus {
    background-color: #aa6666;
    color: #fff;
}